<div class="back-video producers-info">
  <div class="container container-small">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card mt-4 p-4 shadow">
          <h2 class="mb-4 sans-serif primary-title"><%= Spree.t('homepage.producers_title') %></h2>
          <p>
            Nuestros socios productores son las personas que integran el corazón de Lomi. Consideramos que cada uno de ellos es parte de
            nuestra creciente familia. Si eres un productor y quieres ser parte de este hermoso proyecto, podrás saber más en el siguiente
            enlace.
          </p>
          <%= link_to about_producers_path, class: '' do %>
            <h5 class="my-2 sans-serif">Beneficios socios productores</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-fashion-trends-box">
  <div class="container">
    <div class="row">
      <div class="col-12">

      </div>
    </div>
    <div class="row">
      <% @producers.each do |producer| %>
        <div class="col-6 col-md-3 text-center mb-3">
          <%= render partial: 'spree/shared/producers/producer_card', locals: { producer: producer } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
